.App {
  text-align: center;
}
a {
  color: rgb(0, 0, 0);
  margin-top: 10em;
}
.cat {
  width: 40%;
  height: 40%;
  background-color: bisque;
  margin: auto;
  border: 2px solid black;
}

.catName {
  margin: 1em;
}

.btn {
  background-color: #0c0c0c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cattyButton {
  background-color: #111;
  margin: 1em;
  width: auto;
}
.bText {
  color: #fff;
  margin: 1em;
}

.button,
.Search {
  margin: 1em;
}
.imageCat {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}
.desc {
  width: 40%;
  height: auto;
  margin: auto;
  padding: 1em;

  border: 2px solid black;
}

.catName:hover {
  color: salmon;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #416abd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
