.App {
  text-align: center;
}

.cat {
  width: 40%;
  height: auto;
  background-color: bisque;
  margin: auto;
  border: 2px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(70, 18, 18);
  color: rgb(15, 11, 11);
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}

.navigationActive a {
  color: white;
  background-color: rgb(37, 37, 37);
}

.navigationDisabled a {
  color: grey;
  background-color: rgb(0, 0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #416abd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
